.choice-box {
    -fx-background-color: #f2f2f2;
    -fx-background-radius: 4px;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 4px;
    -fx-padding: 8px;
}

.choice-box .arrow {
    -fx-background-color: #c9c9c9;
    -fx-shape: "M 4 4 l 8 8 l -8 0 z";
}

.choice-box .arrow-button:hover {
    -fx-background-color: #e6e6e6;
}

.choice-box .list-view {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-color: #c9c9c9;
    -fx-border-radius: 4px;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.choice-box .list-cell {
    -fx-background-color: white;
    -fx-text-fill: #333333;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-fill: black;
}

.choice-box .list-cell:hover {
    -fx-background-color: #f2f2f2;
}
