.table-view {
    -fx-background-color: transparent;
}

/* Set font size for table cells */
.table-view .table-cell {
    -fx-font-size: 16px; /* Set desired font size here */
}

/* Set row height */
.table-row-cell {
    -fx-min-height: 40px; /* Set desired row height here */
}


.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #0080ff, #89cff0); /*table header color*/
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 18px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell: hover {
    -fx-background-color: #008b8b;
    -fx-text-background-color: #0fc0fc;
    -fx-cursor:hand;
}
.table-row-cell: odd{
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #e0ffff ;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-row-cell: highlighted {
    -fx-background-color: #0080FF;
    -fx-background-radius: 15px;
}
.table-row-cell:filled:selected .table-cell {
    -fx-text-fill: green; //selected color
}


